.gradient-hero-text {
    font-size: 72px;
    background: -webkit-linear-gradient(-45deg, #eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient-hero-text::selection {
    color: white !important;
    -webkit-text-fill-color: white;
    /* background-color: blue; */
}


.testimonial-gradient-l {
    background: linear-gradient(-55deg, #1A1A1B 0%, #252525 90%, #1A1A1B 100%);
}
.testimonial-gradient-m {
    background: linear-gradient(-55deg, #1A1A1B 0%, #242424 50%, #1A1A1B 100%);
}
.testimonial-gradient-r {
    background: linear-gradient(-55deg, #1A1A1B 0%, #252525 10%, #1A1A1B 100%);
}