.tilt-box {
    /* transform: rotateX(-20deg) rotateY(-20deg); */
    /* transform: rotateX(20deg) rotateY(20deg); */
}

.t_over {
    width: 33.33%;
    height: 33.33%;
    position: absolute;
}

.t_over:nth-child(1) {left: 0; top: 0;}
.t_over:nth-child(2) {left: 33.33%; top: 0;}
.t_over:nth-child(3) {left: 66.66%; top: 0;}
.t_over:nth-child(4) {left: 0; top: 33.33%;}
.t_over:nth-child(5) {left: 33.33%; top: 33.33%;}
.t_over:nth-child(6) {left: 66.66%; top: 33.33%;}
.t_over:nth-child(7) {left: 0; top: 66.66%;}
.t_over:nth-child(8) {left: 33.33%; top: 66.66%;}
.t_over:nth-child(9) {left: 66.66%; top: 66.66%;}

.t_over:nth-child(1):hover ~ .tilt-box{transform: rotateX(20deg) rotateY(20deg);}
.t_over:nth-child(2):hover ~ .tilt-box{transform: rotateX(20deg) rotateY(20deg);}
.t_over:nth-child(3):hover ~ .tilt-box{transform: rotateX(20deg) rotateY(20deg);}
.t_over:nth-child(4):hover ~ .tilt-box{transform: rotateX(20deg) rotateY(20deg);}
.t_over:nth-child(5):hover ~ .tilt-box{transform: rotateX(20deg) rotateY(20deg);}
.t_over:nth-child(6):hover ~ .tilt-box{transform: rotateX(20deg) rotateY(20deg);}
.t_over:nth-child(7):hover ~ .tilt-box{transform: rotateX(20deg) rotateY(20deg);}
.t_over:nth-child(8):hover ~ .tilt-box{transform: rotateX(20deg) rotateY(20deg);}
.t_over:nth-child(9):hover ~ .tilt-box{transform: rotateX(20deg) rotateY(20deg);}