/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 100px;
    cursor: pointer;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
::-webkit-scrollbar-thumb:active {
    background: rgb(119, 75, 34);
}

@media only screen and (max-width: 1023px) {
    /* width */
    ::-webkit-scrollbar {
        width: 3px;
        border-radius: 100%;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f0f0f0;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #868686;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #4060ee;
    }
}

.no-scrollbar {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */

    /* For Chrome, Safari, and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}
.thin-scrollbar {
    scrollbar-width: 4px; /* For Firefox */
    -ms-overflow-style: 4px; /* For Internet Explorer and Edge */
    /* For Chrome, Safari, and Opera */
    &::-webkit-scrollbar {
        width: 4px;
        border-radius: 100%;
    }
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: #4060ee;
}

::selection {
    color: white;
    background: #4060ee;
}

.only-print {
    display: none !important;
}
@media print {
    .no-print {
        display: none !important;
    }
    .only-print {
        display: inherit !important;
    }
}
